.chatlog>.notice .line {
    font-family: 'NanumSquare', sans-serif;
    font-size: 15px;
}

.chatlog>.chat .to {
    font-family: 'NanumSquare', sans-serif;
}

.chatlog>.chat .from {
    font-family: 'NanumSquare', sans-serif;
}

.list-menu>.userlist {
    font-size: 12px;
    font-family: 'NanumSquare', sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
}

.list-menu>.userlist td {
    border: 1px solid black;
}

@media screen and (max-device-width: 840px) {
    .online-menu {
        display: flex;
        justify-content: space-around;
    }

    .online-menu>.onlinebox {
        width: 50vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .online-menu>.onlinebutton {
        width: 16vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .online-menu>.offlinebutton {
        width: 16vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .online-menu>.reload {
        width: 16vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .list-menu {
        display: flex;
        justify-content: space-between;
    }

    .list-menu>.userlist {
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .chat-menu {
        display: flex;
        justify-content: space-around;
    }

    .chat-menu>.invitebox {
        width: 50vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .chat-menu>.invite {
        width: 50vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 10px;
        left: 8px;
        right: 8px;
    }

    .float-menu>.chatbox {
        width: 50vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu>.send {
        width: 25vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu>.exit {
        width: 25vw;
        font-size: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .chatlog {
        margin-bottom: 46px;
        overflow: scroll;
    }

    .chatlog>.notice {
        display: flex;
        justify-content: center;
    }

    .chatlog>.notice .line {
        font-family: 'NanumSquare', sans-serif;
        font-size: 15px;
    }

    .chatlog>.chat {
        display: flex;
        flex-direction: column;
    }

    .chatlog>.chat .to {
        font-family: 'NanumSquare', sans-serif;
        font-size: 15px;
        align-self: flex-end;

        background-color: darkblue;
        color: white;

        margin: 2px;
        padding: 5px;
        border-radius: 5px;
    }

    .chatlog>.chat .from {
        font-family: 'NanumSquare', sans-serif;
        font-size: 15px;
        align-self: flex-start;

        background-color: darkmagenta;
        color: white;

        margin: 2px;
        padding: 5px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 840px) {
    .online-menu {
        display: flex;
        justify-content: space-around;
    }

    .online-menu>.onlinebox {
        width: 50vw;
        height: 30px;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .online-menu>.onlinebutton {
        width: 16vw;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .online-menu>.offlinebutton {
        width: 16vw;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .online-menu>.reload {
        width: 18vw;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .list-menu {
        display: flex;
        justify-content: space-between;
    }

    .list-menu>.userlist {
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;

    }

    .chat-menu {
        display: flex;
        justify-content: space-around;
    }

    .chat-menu>.invitebox {
        width: 50vw;
        height: 30px;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .chat-menu>.invite {
        width: 50vw;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu {
        position: fixed;
        bottom: 10px;
        left: 8px;
        right: 8px;
    }

    .float-menu>.one {
        display: flex;
        justify-content: space-around;
    }

    .float-menu>.one>.chatbox {
        width: 50vw;
        height: 30px;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu>.one>.send {
        width: 25vw;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu>.one>.exit {
        width: 25vw;
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu>.two>.filebox {
        font-size: 15px;
        height: 30px;
        font-family: 'NanumSquare', sans-serif;
    }

    .float-menu>.two>.filebutton {
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
    }

    .chatlog {
        margin-bottom: 46px;
        overflow: scroll;
    }

    .chatlog>.notice {
        display: flex;
        justify-content: center;
    }

    .chatlog>.notice .line {
        font-family: 'NanumSquare', sans-serif;
        font-size: 15px;
    }

    .chatlog>.chat {
        display: flex;
        flex-direction: column;
    }

    .chatlog>.chat .to {
        font-family: 'NanumSquare', sans-serif;
        font-size: 15px;
        align-self: flex-end;

        background-color: darkblue;
        color: white;

        margin: 2px;
        padding: 5px;
        border-radius: 5px;
    }

    .chatlog>.chat .from {
        font-family: 'NanumSquare', sans-serif;
        font-size: 15px;
        align-self: flex-start;

        background-color: darkmagenta;
        color: white;

        margin: 2px;
        padding: 5px;
        border-radius: 5px;
    }
}