* {
    font-family: 'NanumSquare', sans-serif;
}

.box-outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vw;
}

.box-outline>.box-logo>.img-logo {
    width: 50vw;
    height: 50vw;
}

.box-outline>.box-login>.box-id>.input-id {
    width: 50vw;
    height: 10vw;
    font-size: 20px;

    border: 1px solid #ffd52d;
    border-radius: 0px;
    -webkit-appearance: none;
}

.box-outline>.box-login>.box-pw>.input-pw {
    width: 50vw;
    height: 10vw;
    font-size: 20px;

    margin-top: 3px;
    border: 1px solid #ffd52d;
    border-radius: 0px;
    -webkit-appearance: none;
}

.box-outline>.box-login>.box-submit>.button-login {
    width: 50vw;
    height: 10vw;
    font-size: 20px;

    margin-top: 10px;

    border: none;
    color: white;
    background-color: #ffd52d;

    -webkit-appearance: none;
}

.box-outline>.box-login>.box-submit>.button-login:active {
    background-color: white;
    border: 1px solid #ffd52d;
    color: #ffd52d;
}