* {
    font-family: 'NanumSquare', sans-serif;
}

html,
body {
    height: 86vh;
}

.box-outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}
