* {
    font-family: 'NanumSquare', sans-serif;
}

html,
body {
    height: 86vh;
}

.box-outline {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.box-outline>.menu-tab {
    display: flex;
    justify-content: center;

    width: 100%;
}

.box-outline>.menu-tab>.box-tab {
    width: 50%;
}

.box-outline>.menu-tab>.box-tab>button {
    width: 100%;
    height: 6vh;

    font-size: 14px;

    background-color: #ffd52d;
    border: none;

    -webkit-appearance: none;
}

.box-outline>.menu-tab>.box-tab>button.current {
    width: 100%;
    height: 6vh;

    font-size: 14px;

    background-color: white;
    border: none;

    -webkit-appearance: none;
}

.box-outline>.box-contents {
    width: 100%;
    overflow-x: scroll;
}

.box-outline>.box-contents>.table-list {
    font-size: 10px;
    font-family: 'NanumSquare', sans-serif;
    border-collapse: collapse;
    border: none;
    width: 100%;
    
    display: none;
}

.box-outline>.box-contents>.table-list.current{
    font-size: 12px;
    font-family: 'NanumSquare', sans-serif;
    border-collapse: collapse;
    border: none;
    width: 100%;

    display: table;
}

.box-outline>.box-contents>.table-list tr:first-child>td {
    background-color: black;
    color:white;
    text-align: center;
}

.box-outline>.box-contents>.table-list tr:first-child>td:nth-child(2n) {
    background-color: black;
    color:white;
    text-align: center;

    border-left: 1px solid white;
    border-right: 1px solid white;
}

.box-outline>.box-contents>.table-list td {
    border: none;
    white-space: nowrap;
    height: 18px;
    
    background-color: whitesmoke;

    padding: 5px;
}

.box-outline>.box-contents>.table-list td:nth-child(2n + 1) {
    border: none;
    white-space: nowrap;
    height: 18px;
    
    background-color: lightgray;
}