* {
    font-family: 'NanumSquare', sans-serif;
}

html,
body {
    height: 88vh;
}

.box-outline {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.box-outline>.menu-tab {
    display: flex;
    justify-content: center;

    width: 100%;
}

.box-outline>.menu-tab>.box-tab {
    width: 50%;
}

.box-outline>.menu-tab>.box-tab>button {
    width: 100%;
    height: 6vh;

    font-size: 14px;

    background-color: #ffd52d;
    color: white;
    border: none;

    -webkit-appearance: none;
}

.box-outline>.menu-tab>.box-tab>button.current {
    width: 100%;
    height: 6vh;

    font-size: 14px;

    background-color: white;
    color: #ffd52d;
    border: 1px solid #ffd52d;

    -webkit-appearance: none;
}

.box-outline>.box-userdb {
    width: 100%;
    overflow-x: scroll;

    display: none;

    margin-top: 10px;
}

.box-outline>.box-userdb.current {
    width: 100%;
    overflow-x: scroll;

    display: block;

    margin-top: 10px;
}

.box-outline>.box-userdb>.table-list {
    font-size: 12px;
    font-family: 'NanumSquare', sans-serif;
    border-collapse: collapse;
    border: none;
    width: 100%;

    display: table;
}

.box-outline>.box-userdb>.table-list tr:first-child>td {
    background-color: black;
    color: white;
    text-align: center;
}

.box-outline>.box-userdb>.table-list tr:first-child>td:nth-child(2n) {
    background-color: black;
    color: white;
    text-align: center;

    border-left: 1px solid white;
    border-right: 1px solid white;
}

.box-outline>.box-userdb>.table-list td {
    border: none;
    white-space: nowrap;
    height: 18px;

    background-color: whitesmoke;

    padding: 5px;
}

.box-outline>.box-userdb>.table-list td:nth-child(2n + 1) {
    border: none;
    white-space: nowrap;
    height: 18px;

    background-color: lightgray;
}

.box-outline>.list-notice {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;

    overflow-y: scroll;
}

.box-outline>.list-notice.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    overflow-y: scroll;
}

.box-outline>.list-notice>.box-notice {
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 40px;

    margin-top: 10px;
    cursor: pointer;
}

.box-outline>.list-notice>.box-notice>.title-notice {
    display: flex;
    align-items: center;
    width: 100%;
    height:40px;
    background-color: lightslategray;
    color: white;
    padding-left: 10px;
}

.box-outline>.list-notice>.box-notice>.index-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 35px;
    height:40px;
    background-color: black;
}

.box-floatmenu {
    display: flex;
    flex-direction: column;
    position: fixed;

    bottom: 10px;
    right: 10px;
}

.box-floatmenu>.button-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffd52d;
    color: white;
    border: none;
    cursor: pointer;
}

.box-floatmenu>.button-logout>.image-logout {
    width: 32px;
    height: 32px;

    margin-right: 6px;
}

.box-floatmenu>.button-newnoti {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffd52d;
    color: white;
    border: none;
    cursor: pointer;

    margin-bottom: 10px;
}

.box-floatmenu>.button-newnoti.current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffd52d;
    color: white;
    border: none;
    cursor: pointer;

    margin-bottom: 10px;
}

.box-floatmenu>.button-newnoti>.image-noti {
    width: 32px;
    height: 32px;

    margin-left: 4px;
}

.box-floatmenu>.button-kickuser {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffd52d;
    color: white;
    border: none;
    cursor: pointer;

    margin-bottom: 10px;
}

.box-floatmenu>.button-kickuser.current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffd52d;
    color: white;
    border: none;
    cursor: pointer;

    margin-bottom: 10px;
}

.box-floatmenu>.button-kickuser>.image-kick {
    width: 36px;
    height: 36px;
}